:host {
    --z-index-background: 0;
    --z-index-circles: 0;
    --z-index-lines: 1;
    --z-index-avatar: 2;
    --z-index-x: 1;
}

.animation-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    background: url("/assets/loginPage/cubes.svg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: #f9fcff;
    z-index: var(--z-index-background);
}

.avatar-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    padding-left: 10%;
    justify-content: center;
    padding-bottom: 10%;
    z-index: var(--z-index-avatar);
    pointer-events: auto;
    
    .avatar-fit-container {
        width: fit-content;
        position: relative;

        .avatar {
            height: 45vh;
        }
        .unit {
            position: absolute;
            transition: transform 0.3s ease-out;
        }

        #main {
            top: -40%;
            left: calc(50% - 65px);
            width: 130px;
        }

        #top-left {
            top: -5%;
            left: -30%;
            width: 100px;
        }

        #top-right {
            top: -5%;
            right: -30%;
            width: 100px;
        }

        #bottom-left {
            bottom: 40%;
            left: -40%;
            width: 80px;
        }

        #bottom-right {
            bottom: 40%;
            right: -40%;
            width: 80px;
        }
    }
}

.lines-container {
    position: absolute;
    width: 141.4%;
    height: 141.4%;
    top: -20.7%;
    left: -20.7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: rotate(45deg);
    animation: moveDiagonal 16s linear infinite;
}

.line {
    position: absolute;
    left: 0;
    z-index: var(--z-index-lines);
    transform: rotate(-45deg);
}

#line-1 {
    top: 20;
    left: 20.3%; 
}

#line-2 {
    top: 50%;
    left: 25.3%; 
}

#line-3 {
    top: 90%;
    left: 40.3%;
}

@keyframes moveDiagonal {
    0% {
        transform: rotate(45deg) translateY(100%);
    }
    100% {
        transform: rotate(45deg) translateY(-100%);
    }
}

#circle-1 {
    position: absolute;
    width: 400px;
    top: -200px;
    left: -60px;
    z-index: var(--z-index-circles);
}

#circle-2 {
    position: absolute;
    width: 300px;
    bottom: -160px;
    left: 40%;
    z-index: var(--z-index-circles);
}

.x {
    position: absolute;
    width: 16px;
    z-index: 10;
    animation: rotation 20s linear infinite;
}

#x-1 {
    top: 10%;
    left: 40%;
    transform: rotate(15deg);
}

#x-2 {
    bottom: 10%;
    left: 25%;
    transform: rotate(20deg);
}

#x-3 {
    bottom: 7%;
    left: 35%;
    transform: rotate(10deg);
}

#x-4 {
    bottom: 20%;
    left: 10%;
    transform: rotate(5deg);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
