<form [formGroup]="loginForm" class="form-container">
    <div>
        <h3 class="m-0">התחברות</h3>
        <p class="description m-0">שלום! אנא הכנס תעודת זהות ומספר איש על מנת להתחבר לעמוד הראשי שלך</p>
    </div>

    <div>
        <label class="input-title" for="PersonalId">תעודת זהות</label>
        <herum-input-field [type]="'number'" [formControlName]="'PersonalId'"></herum-input-field>
        <app-error-info [errors]="loginForm.controls.PersonalId.errors" [touched]="loginForm.controls.PersonalId.touched"></app-error-info>
    </div>

    <div>
        <label class="input-title" for="MilitaryId">מספר אישי</label>
        <herum-input-field [type]="'number'" [formControlName]="'MilitaryId'"></herum-input-field>
        <app-error-info [errors]="loginForm.controls.MilitaryId.errors" [touched]="loginForm.controls.MilitaryId.touched"></app-error-info>
    </div>

    <herum-button (click)="_onSubmit()" class="w-100 mt-2">התחברות לאתר</herum-button>
    <!-- <button type="submit" [disabled]="loginForm.invalid">Login</button> -->
</form>
