.collections-container {
    position: relative;
    background-color: rgb(236, 236, 236);

}

.collections-sidenav{
    position: fixed;
    top: 80px;
}

.collection-menu-btn {
    top: 4px;
    position: absolute;
    background: var(--primary-color);
    border-radius: 15px 0px 0px 15px;
    padding: 6px;
    justify-content: center;
    z-index: 4;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.small-btn {
    padding: 3px 6px;
}

mat-drawer{
    top: 10px;
    border-radius: 8px 0px 0px 0px;
}

::ng-deep.mat-drawer-container{
    background-color: white;
}

::ng-deep.mat-drawer-backdrop.mat-drawer-shown{
    background-color: rgba(0, 0, 0, 0);
}

.chevron {
    transition: transform 0.3s ease;
}

.rotate-chevron {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}