@import '../../styles/mixin.scss';

.dropbtn {
  background-color: white;
  color: var(--disabled-text-color);
  padding: 16px;
  border: none;
  cursor: pointer;
  border-radius: var(--btn-border-radius-size);
  @include boxShadow;
  min-width: 300px;
  text-align: right;
  font-size: var(--standard-font-size);
}

.open-dropbtn {
  border-radius: var(--btn-border-radius-size) var(--btn-border-radius-size) 0 0;
  @include boxShadow;
}

.dropbtn:hover,
.dropbtn:focus {
  border: 1px solid var(--icons-color-light-2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  overflow: auto;
  border-radius: 0 0 var(--btn-border-radius-size) var(--btn-border-radius-size);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.17);
  border-top: 2px solid var(--chips-divider-color);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.show {
  display: block;
}

.shevron-icon {
  position: absolute;
  left: 10px;
  top: 16px;
  cursor: pointer;
  z-index: 0;
  color: var(--icons-color) !important;
  transition: transform 0.3s ease;
}

.selected {
  color: var(--icons-color) !important;
  font-weight: bolder;
}

.displayed-selected-option {
  color: var(--text-color);
}

.rotate-chevron {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

a {
  font-size: var(--standard-font-size);
}

.selected-option {
  color: var(--secondary-color);
  font-weight: lighter;
}

.title {
  width: 80%;
  font-weight: bold;
}

#myDropdown {
  z-index: 10;
}
