<form [formGroup]="signUpForm" class="form-container">
    <div>
        <h3 class="m-0">הרשמה</h3>
        <p class="description m-0">
            שלום! אנא הכנס תעודת זהות ומספר איש על מנת להתחבר לעמוד הראשי שלך
        </p>
    </div>

    <div class="row">
        <div class="w-50">
            <label class="input-title" for="firstName">שם פרטי</label>
            <herum-input-field [type]="'text'" [formControlName]="'FirstName'"
                               [errorMsg]="'שדה חובה למילוי'"></herum-input-field>
            <app-error-info [errors]="signUpForm.controls.FirstName.errors" [touched]="signUpForm.controls.FirstName.touched"></app-error-info>
        </div>

        <div class="w-50">
            <label class="input-title" for="lastName">שם משפחה</label>
            <herum-input-field [type]="'text'" [formControlName]="'LastName'"
                               [errorMsg]="'שדה חובה למילוי'"></herum-input-field>
            <app-error-info [errors]="signUpForm.controls.LastName.errors" [touched]="signUpForm.controls.LastName.touched"></app-error-info>
        </div>

    </div>

    <div>
        <label class="input-title" for="PersonalId">תעודת זהות</label>
        <herum-input-field [type]="'number'" [formControlName]="'PersonalId'"
                           [errorMsg]="'תעודת זהות לא תקינה'"></herum-input-field>
        <app-error-info [errors]="signUpForm.controls.PersonalId.errors" [touched]="signUpForm.controls.PersonalId.touched"></app-error-info>
    </div>

    <div>
        <label class="input-title" for="MilitaryId">מספר אישי</label>
        <herum-input-field [type]="'number'" [formControlName]="'MilitaryId'"
                           [errorMsg]="'שדה חובה למילוי'"></herum-input-field>
        <app-error-info [errors]="signUpForm.controls.MilitaryId.errors" [touched]="signUpForm.controls.MilitaryId.touched"></app-error-info>
    </div>

    <div>
        <herum-radio-button [options]="options" (selectOptionEmitter)="updateUserType($event)"></herum-radio-button>
        <app-error-info [errors]="signUpForm.controls.userType.errors" [touched]="signUpForm.controls.userType.touched"></app-error-info>
    </div>

    <div>
        <label class="input-title" for="MilitaryId">למי הגעת?</label>
        <herum-input-field [type]="'text'" [formControlName]="'ReferringUser'"
                           [errorMsg]="'שדה חובה למילוי'"></herum-input-field>
        <app-error-info [errors]="signUpForm.controls.ReferringUser.errors" [touched]="signUpForm.controls.ReferringUser.touched"></app-error-info>
    </div>

    <herum-button class="w-100 mt-2" (click)="_onSubmit()">הרשמה
        לאתר
    </herum-button>
</form>