:root {
  --text-color: #424251;
  --light-text-color: #ffffff;
  --disabled-text-color: #c8c5c5;

  --hover-color: #f1f3f9;

  --title-color: #131a17;

  --primary-color: linear-gradient(13deg, #095d57 0%, #2bb982 66%, #44f0bb 100%);
  --lighter-primary-color: linear-gradient(26deg, #539e99 0%, #57d6a5 49%, #abfbe2 100%);
  --darker-primary-color: linear-gradient(26deg, #09433f 0%, #1d8a60 49%, #2fcb9b 100%);
  --section-header-color: transparent
    linear-gradient(177deg, #095d57 0%, #2bb982b8 52%, #44f0bb00 100%) 0% 0% no-repeat padding-box;

  --secondary-color: #7a9aac;
  --lighter-secondary-color: #93b0c1;
  --darker-secondary-color: #5e7d8e;

  --panel-secondary-color: linear-gradient(162deg, #87ff19 0%, #62d69a 52%, #efa4fe 100%);
  --panel-secondary-color-low-opacity: linear-gradient(
    162deg,
    #88ff198c 0%,
    #62d69a8c 52%,
    #efa4fe70 100%
  );

  --icons-color: #26c593;
  --icons-color-light-1: #26c59380;
  --icons-color-light-2: #26c59333;
  --icons-color-as-bg: #157e3112;

  --disable-color: linear-gradient(5deg, #c5c7c7 0%, #ffffff 100%);
  --disable-color-checkbox: linear-gradient(28deg, #c5c7c7 0%, #ffffff 100%);

  --popup-panel-color: #1c274c86;

  --chips-divider-color: #cfd7e9;
  --borders-and-lines-color: #a0afd4;

  --panels-fill-color: #f4f4f7;

  --error-color: #ff0a4d;

  --light-background-color: #ffffff;
  --darker-light-background-color: #1609290d;

  --tooltip-background-color: #1c274c;

  --inactive-border-color: #a0afd41a;
}
