:root {
    --minimum-small-btn-width-size: 56px;
    --small-btn-height-size: 28px;

    --minimum-medium-btn-width-size: 68px;
    --medium-btn-height-size: 32px;

    --btn-padding-size: 12px;
    --btn-border-radius-size: 8px;

    --tooltip-padding-size: 8px;

    --standard-font-size: 12px;

}