<div class="animation-container">
    <ng-content class="content-container col-6"></ng-content>
    <div class="avatar-container" #avatarContainer>
        <div class="avatar-fit-container">
            <img class="unit" id="main" src="/assets/loginPage/animationsElements/aman.svg">
            <img class="unit" id="top-left" src="/assets/loginPage/animationsElements/hatam.png">
            <img class="unit" id="top-right" src="/assets/loginPage/animationsElements/9900.png">
            <img class="unit" id="bottom-left"src="/assets/loginPage/animationsElements/8200.svg">
            <img class="unit" id="bottom-right"src="/assets/loginPage/animationsElements/modash.svg">
            <img class="avatar" src="/assets/loginPage/animationsElements/avatar.png">
        </div>
    </div>

    <div class="lines-container">
        <img class="line" id="line-1" src="/assets/loginPage/animationsElements/blackLine.svg">
        <img class="line" id="line-2" src="/assets/loginPage/animationsElements/grayLine.svg">
        <img class="line" id="line-3" src="/assets/loginPage/animationsElements/greenLine.svg">
    </div>
    <img id="circle-1" src="/assets/loginPage/animationsElements/fullCircle.svg">
    <img id="circle-2" src="/assets/loginPage/animationsElements/fullCircle.svg">

    <img class="x" id="x-1" src="/assets/loginPage/animationsElements/x.svg">
    <img class="x" id="x-2" src="/assets/loginPage/animationsElements/x.svg">
    <img class="x" id="x-3" src="/assets/loginPage/animationsElements/x.svg">
    <img class="x" id="x-4" src="/assets/loginPage/animationsElements/x.svg">
</div>