<!-- <div class="">
    <br>
    <br>
    <br>
    <div class="column">
      <h1 style="width:fit-content" appHerumToolTip matTooltip="This is a customized tooltip">כותרת טולטיפ</h1>
  
      <div class="row">
        <app-herum-button style="width: fit-content;" [size]="'medium'" [type]="'primary'" [disabled]="false">כפתור</app-herum-button>
        <app-herum-button style="width: fit-content;" [size]="'medium'" [type]="'ghost'" [disabled]="false">כפתור</app-herum-button>
        <app-herum-button style="width: fit-content;" [size]="'medium'" [type]="'secondary'" [disabled]="false">כפתור</app-herum-button>
      </div>
  
      <div class="row">
        <app-herum-button style="width: fit-content;" [size]="'medium'" [type]="'primary'" [disabled]="true">כפתור</app-herum-button>
        <app-herum-button style="width: fit-content;" [size]="'medium'" [type]="'ghost'" [disabled]="true">כפתור</app-herum-button>
        <app-herum-button style="width: fit-content;" [size]="'medium'" [type]="'secondary'" [disabled]="true">כפתור</app-herum-button>
      </div>
      
      <div class="row">
        <app-herum-toggle-button [options]="options" [disabled]="false"></app-herum-toggle-button>
      </div>
      
      <app-herum-select [options]="options" [disabled]="false"></app-herum-select>
      
      <herum-multi-select style="width: 300px;" [options]="options"></herum-multi-select>
      
      <app-herum-checkbox [disabled]="true"></app-herum-checkbox>
      <app-herum-checkbox [disabled]="false"></app-herum-checkbox>
      <app-herum-checkbox [type]="'indeterminate'" [disabled]="false"></app-herum-checkbox>
      <app-herum-checkbox [type]="'indeterminate'" [disabled]="true"></app-herum-checkbox>
  
      <app-herum-switch></app-herum-switch>
      
      <app-herum-input-field dir="rtl" [placeholder]="'הכנס טקסט'" [disabled]="false"></app-herum-input-field>
      
      <herum-circular-progress-bar></herum-circular-progress-bar>
      
      <div class="progress-bar">
        <progress value="65" min="0" max="100" style="visibility:hidden;height:0;width:0;">75%</progress>
      </div>    </div>

      <div style="width: 200px;">
        <app-herum-progress-bar [percentage]="23" style="width: 200px;"></app-herum-progress-bar>
      </div>
      <herum-stepper></herum-stepper>
    <div class="colors-container">
      <div class="icon-example" style="background-color: var(--text-color);"></div>
      <div class="icon-example" style="background-color: var(--title-color);"></div>
      <div class="icon-example" style="background: var(--primary-color);"></div>
      <div class="icon-example" style="background-color: var(--secondary-color);"></div>
      <div class="icon-example" style="background: var(--panel-secondary-color);"></div>
      <div class="icon-example" style="background-color: var(--icons-color);"></div>
      <div class="icon-example" style="background: var(--popup-panel-color);"></div>
      <div class="icon-example" style="background: var(--chips-divider-color);"></div>
      <div class="icon-example" style="background-color: var(--panels-fill-color);"></div>
      <div class="icon-example" style="background-color: var(--error-color);"></div>
    </div>
  </div>
  <notebook-dialog></notebook-dialog>
  
  <br>
  <br>
  <br>
<div style="width: 1200px; margin-right: 300px;" >
</div> -->

<!-- <app-herum-pdf-viewer></app-herum-pdf-viewer> -->

<input type="text" [(ngModel)]="userId" placeholder="Enter User ID" />
<audio-player [userId]="userId"></audio-player>
